@media only screen and (max-width: 959px) {
    .wrapper{
        width:94%;
        margin:0 auto;
    }
    .nav-wrap{
        width:70%;
        margin-right:3%;
    }
    .lang-wrap{
        width:27%;
    }
    .email-wrapper{
        margin-bottom:20px;
    }
    .percent{
        margin-right:0px;
    }
    .footer-content p a{
        font-size:1em;
    }
    .email-wrapper{
        margin-bottom:20px;
        width:100%;
    }
    .phone-wrapper{
        width:100%;
    }
    .offer{
        padding:10px 0 !important;
        font-size:0.8em !important;
        left:70px;
    }
    .banner iframe{
        min-height:350px;
    }
}
@media only screen and (max-width: 767px) {
    #logo img {
        width:350px !important;
    }
    #logo {
        padding-top:15px;
    }
    .logo{
        height:70px;
    }
    .select-wrapper.phone-wrapper-select{
        width:45% !important;
        padding: 0 40px 0 1% !important;
    }
    .phone-style{
        width:50% !important;;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .footer-content p a{
        font-size:1em !important;
    }
    offer{
        font-size:0.8em !important;
    }
    .submit-btn,.reset-btn{
        width:130px !important;
    }
    .map-wrapper iframe{
        width:100% !important;
        height:250px;
    }
    .banner iframe{
        min-height:200px;
    }
    #logo img{
        max-width:100%;
        width:350px;
        height:auto;
    }
    #logo{
        padding-top:5px !important;
    }
    .logo{
        height:50px;
    }
    .phone-code-wrapper{
        width:45% !important;
    }
    .phone-style{
        width:50% !important;;
    }
    .sub-nav li a{
    	font-size:1.2em;
    }
}
@media only screen and (max-width: 479px) {
    .slicknav_menu .slicknav_menutxt{
        font-size:0.8em;
    }
     .sub-nav li a{
    	font-size:1.1em;
    }
    .footer-content p a{
        font-size:0.9em !important;
    }

    .st-content{
        height:auto !important;
        
    }
    .percent span{
 
        font-size:16px;
        line-height:50px;
    }
    .offer{
        line-height: 45px;
        font-size: 0.7em !important;
    }

    .phone-code-wrapper{
        width:55% !important;
    }
    .phone-style{
        width:40% !important;;
    }
    #logo img{
        max-width:100%;
        width:280px !important;
        height:auto;
    }
    #logo{
        padding-top:15px;
    }
    .logo{
        height:50px;
    }
    .slicknav_menu .slicknav_menutxt{
        padding-left:10px !important;
    }

    .nav-wrap .slicknav_btn {
        background: url(../images/arrow-green-small.jpg)no-repeat top right #088671 !important;
      
    }
    .lang-wrap .slicknav_btn{
        background: url(../images/arrow-purple-small.jpg)no-repeat top right #993365 !important;
    }
    .custom-select select {
        background:url(../images/drop-down-small.png) no-repeat right center !important;
    }
    .terms p,.term-list li{
    line-height:22px;
    font-size:14px !important;
    }
    .terms h1{
        font-size: 16px !important;
    }
    .custom-select:before {
	padding: 0 0.625em;
    }
}